.contactbox {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 35%;
    padding-bottom: 25px;
    padding-top: 15px;
    text-align: center;
    /* border: solid 3px #3e4150; */
    width: 25%;
    background-color: rgba(22, 27, 30, 0.7);
    border-radius: 2em;
    cursor: pointer;
}

.contactme {
    font-size: 40pt;
    color: #d1d1d1;
    font-family: 'Parisienne', cursive;
    margin-bottom: -1px;
}

.form-control {
    width: 60%;
    font-size: 12pt;
   background-color: #d1d1d1;

}

.about {
    margin-left: 1%;
    margin-bottom: -2%;
    font-size: 50pt;
    padding-top: 2%;
    color: black;
    font-family: 'Parisienne', cursive;
    color: #d1d1d1;
}

p {
    margin-left: 3%;
    margin-right: 3%;
    color: black;
    font-family: 'Roboto', sans-serif;
    color: #d1d1d1;
    font-weight: lighter;
    font-stretch: expanded;
    font-size: 1.4em;

}

.aboutpage {
    background-color: rgba(22, 27, 30, 0.7);
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 2em;
}