.productscard {
   
    transition: 0.3s;
    width: 40%;
}

.container {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.479);
    margin: 4%;
    background-color: #2b5262;
    color: #a7b6bc;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 2px;
    width: 300px;
    height: 300px;
    float: left;
}

.id {
    font-size: 16pt;
}